@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
h1{
  font-family: 'Montserrat';
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-weight: 600;
  margin-left: 0.9vw;
  margin-top: 0.9vw;
  color: #E8E8E8;
}
p{
  font-family: 'Montserrat';
  font-size: 2vh;
  line-height: 2.23vh;
  font-weight: 400;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #757685;
  position: relative;
}
section{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.brd1{
  border: solid 0.19vh black;
  border-radius: 0.19vh;
}
.brd2{
  border: solid 0.46vh black;
  border-radius: 2.76vh;
}
.sectionmain{
  display: block;
}
.topshelfall{
  position: relative;
  display: block;
  height: 50%;
  width: 100%;
}
.bottomshelfall{
  position: relative;
  display: block;
  height: 50%;
  width: 100%;
}
.shelf{
  display: block;
  position: relative;
  background-color: #E8E8E8;
  width: 100vw;
  height: 13.4vh;
}
.shelf1{
  display: block;
  position: relative;
  background-color: white;
  width: 100vw;
  height: 4.6vh;
  border-top: 0px;
}
.bigshelf1{
  display: block;
  position: relative;
  top: 25vh;
}
.bigshelf2{
  display: block;
  position: relative;
  top: 23vh;
}
.bigshelf3{
  display: none;
  position: relative;
  top: 23vh;
}
.bigshelf4{
  display: none;
  position: relative;
  top: 23vh;
}
.bigshelf5{
  display: none;
  position: relative;
  top: 23vh;
}
.basenokia{
  position: absolute;
  width: 13vh;
  height: 25.4vh;
  transform: rotate(60deg);
  top: 14vh;
  left: 11vw;
  background-image: url('../img/bnokia.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basenokia:hover{
  background-image: url('../img/nokiacolor.png');
}
.basetv{
  position: absolute;
  width: 36.6vh;
  height: 36.6vh;
  top: 8vh;
  left: 32vw;
  background-image: url('../img/btv.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basetv:hover{
  background-image: url('../img/tvcolor2.png');
}
.baseplayer{
  position: absolute;
  width: 36.3vh;
  height: 36.2vh;
  top: 5vh;
  left: 5vw;
  background-image: url('../img/bplayer.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.baseplayer:hover{
  background-image: url('../img/playercolor.png');
}
.basepolaroid{
  position: absolute;
  width: 22.6vh;
  height: 22.5vh;
  top: 16vh;
  left: 41vw;
  background-image: url('../img/bpolaroid.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basepolaroid:hover{
  background-image: url('../img/polaroidcolor.png');
}
.basepc{
  position: absolute;
  width: 54.8vh;
  height: 37.3vh;
  top: -2vh;
  right: 2vw;
  background-image: url('../img/bpc.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basepc:hover{
  background-image: url('../img/pccolor.png');
}
.textmain{
  position: absolute;
  width: 13.6vw;
  height: 7.6vh;
  background-color: white;
  z-index: 2;
}
.mtext1{
  position: absolute;
  width: 24.1vh;
  height: 7.6vh;
  top: 2vh;
  left: 13vw;
  color: #E8E8E8;
}
.mtext2{
  position: absolute;
  width: 6.4vw;
  height: 4.2vh;
  top: 2vh;
  left: 1vw;
  color: #E8E8E8;
}
.logo{
  position: absolute;
  width: 14.8vh;
  left: 0.5vw;
  top: 0.9vh;
}
.mtext3{
  top: 38.6vh;
  left: 5.1vw;
}
.mtext4{
  top: 38.6vh;
  left: 35vw;
}
.mtext5{
  top: 36.6vh;
  left: 11vw;
}
.mtext6{
  top: 36.6vh;
  left: 41.25vw;
}
.mtext7{
  top: 36.6vh;
  right: 7vw;
}
.mtext8{
  position: absolute;
  width: 42.4vw;
  height: 20vh;
  z-index: 2;
  top: 2vh;
  left: 58vw;
}
.kk{
  margin-left: 0.9vw;
  margin-top: 1.2vh;
  color: #E8E8E8;
}
/*НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА*/
.nokiasection{
  display: none;
}
.nokia{
  position: absolute;
  display: none;
  width: 93vh;
  height: 193vh;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(17deg);
  top: -22vh;
  right: 46vw;
}
.msg0{
  background-image: url('../img/msg0.png');
  display: block;
}
.msg7{
  background-image: url('../img/msg7.png');
  display: none;
}.msg1{
  background-image: url('../img/msg1.png');
}
.msg2{
  background-image: url('../img/msg2.png');
  display: none;
}
.msg3{
  background-image: url('../img/msg3.png');
  display: none;
}
.msg4{
  background-image: url('../img/msg4.png');
  display: none;
}
.msg5{
  background-image: url('../img/msg5.png');
  display: none;
}
.msg6{
  background-image: url('../img/msg6.png');
  display: none;
}
.back{
  background-color: white;
  width: 15.3vh;
  height: 5.5vh;
  position: absolute;
  top: 5.6vh;
  left: 2vw;
  cursor: pointer;
  z-index: 2;
}
.back:hover{
  background-color: #FCDED7;
}
.backtxt{
  font-size: 2.96vh;
  margin-left: 2.5vw;
  margin-top: 1.5vh;
}
.arrow{
  position: absolute;
  background-image: url('../img/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.9vh;
  height: 1.4vh;
  top: 2.1vh;
  left: 1vh;
}
.nokiatext{
  position: absolute;
  border: solid 2px black;
  border-radius: 2px;
  background-color: white;
  width: 56.5vh;
  height: 15vh;
  top: 5.6vh;
  right: 2vw;
}
.text{
  font-size: 2.96vh;
  margin-left: 1vw;
  margin-top: 2vh;
  line-height: 3.1vh;
}
.ctrlnokia{
  position: absolute;
  background-color: #3E3E3E;
  width: 42vw;
  height: 23vw;
  bottom: 5.6vh;
  right: 2vw;
  border: solid 5px black;
  border-radius: 30px;
}
.b1 {
    position: absolute;
    background-image: url('../img/b1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 27vw;
    height: 12vw;
    top: 3vh;
    right: 8vw;
    cursor: pointer;
}
.b1:hover{
  background-image: url('../img/b1hover.svg');
}
.b2{
  position: absolute;
  background-image: url('../img/b2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12.4vw;
  height: 11.5vw;
  bottom: 9vh;
  right: 29vw;
  cursor: pointer;
}
.b2:hover{
  background-image: url('../img/b2hover.svg');
}
.b3{
  position: absolute;
  background-image: url('../img/b3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 17.2vw;
  height: 12.9vw;
  bottom: 6.2vh;
  right: 0.3vw;
}
.b4{
  position: absolute;
  background-image: url('../img/b4.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vw;
  height: 4.8vw;
  top: 1.8vh;
  right: 2.9vw;
  cursor: pointer;
}
.b4:hover{
  background-image: url('../img/b4hover.svg');
}
.b5{
  position: absolute;
  background-image: url('../img/b5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vw;
  height: 4.8vw;
  bottom: 4vh;
  right: 11vw;
  cursor: pointer;
}
.b5:hover{
  background-image: url('../img/b5hover.svg');
}
/* ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК*/
.tvsection{
  display: none;
}
.tv{
  position: absolute;
  width: 93.6vh;
  height: 79.8vh;
  background-image: url('../img/tvcolor.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -1vh;
  left: 2vw;
}
.video{
  position: absolute;
  display: none;
  width: 58.6vh;
  height: 44.8vh;
  top: 14vh;
  left: 9vw;
  object-fit: cover;
  z-index: -1;
}
.rectangle{
  position: absolute;
  width: 75.6vh;
  height: 63.8vh;
  top: 7vh;
  left: 4vw;
  background-color: #2E2E2E;
  z-index: -2;
}
.tvtext{
  position: absolute;
  background-color: white;
  width: 47.5vh;
  height: 11vh;
  top: 5.6vh;
  right: 2vw;
}
.tape{
  position: absolute;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  width: 37.2vh;
  height: 23.6vh;
}
.tape1{
    display: block;
    background-image: url('../img/tape.svg');
    top: 25vh;
    right: 16vh;
}
.tape2{
    display: block;
    background-image: url('../img/tape2.svg');
    top: 41vh;
    right: 6vh;
}
.tape3{
    display: block;
    background-image: url('../img/tape3.svg');
    top: 50vh;
    right: 13vh;
}
.tape4{
    display: block;
    background-image: url('../img/tape4.svg');
    top: 65vh;
    right: 2vh;
}
.tapeinall{
  position: absolute;
  background-image: url('../img/tapeinall.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 81.8vh;
  height: 15vh;
  bottom: 6vh;
  left: 8vh;
}
.tapebutton1{
  position: absolute;
  background-image: url('../img/tapebutton1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.3vh;
  height: 8.3vh;
  bottom: 4vh;
  right: 23vh;
  cursor: pointer;
}
.tapebutton1:hover{
  background-image: url('../img/tapebutton1hover.svg');
}
.tapebutton2{
  position: absolute;
  background-image: url('../img/tapebutton2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.3vh;
  height: 8.3vh;
  bottom: 4vh;
  right: 12.5vh;
  cursor: pointer;
}
.tapebutton2:hover{
  background-image: url('../img/tapebutton2hover.svg');
}
.tapebutton3{
  position: absolute;
  background-image: url('../img/tapebutton3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.3vh;
  height: 8.3vh;
  bottom: 4vh;
  right: 2vh;
  cursor: pointer;
}
.tapebutton3:hover{
  background-image: url('../img/tapebutton3hover.svg');
}
/* МУЗЫКА МУЗЫКА МУЗЫКА МУЗЫКА МУЗЫКА МУЗЫКА МУЗЫКА МУЗЫКА */
.musicsection{
  display: none;
}
.musictext{
  position: absolute;
  background-color: white;
  width: 47.5vh;
  height: 7vh;
  bottom: 5.6vh;
  left: 2vw;
}
.player{
  position: absolute;
  width: 108.6vh;
  height: 87.8vh;
  background-image: url('../img/playercolor.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -17vh;
  left: -3vw;
}
.karinasuper{
  position: absolute;
  width: 48.9vh;
  height: 45vh;
  background-image: url('../img/karinasuper.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 5.6vh;
  right: 10vw;
}
.disc{
  position: absolute;
  width: 34.3vh;
  height: 34.3vh;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.discAnimation{
  animation-name: discc;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}
@keyframes discc {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg)};
}
.disc1{
  background-image: url('../img/disc1.svg');
  bottom: 12vh;
  right: 2vw;
}
.disc2{
  background-image: url('../img/disc2.svg');
  bottom: 3vh;
  right: 10vw;
}
.disc3{
  background-image: url('../img/disc3.svg');
  bottom: 14vh;
  right: 22vw;
}
.disc4{
  background-image: url('../img/disc4.svg');
  bottom: 1vh;
  right: 35vw;
}
.onplace{
  top: 10.3vh;
  left: 64vw;
}
.pb{
  position: absolute;
  width: 7.2vh;
  height: 7.2vh;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
.pb1{
  bottom: 11vh;
  right: 2vh;
  background-image: url('../img/pb1.svg');
}
.pb2{
  bottom: 3vh;
  right: 2vh;
  background-image: url('../img/pb2.svg');
}
.pb1:hover{
  background-image: url('../img/pb1hover.svg');
}
.pb2:hover{
  background-image: url('../img/pb2hover.svg');
}
.sht1{
  position: absolute;
  width: 6.2vh;
  height: 5.2vh;
  background-color: #DADADA;
  border-radius: 0.46vh;
  cursor: pointer;
  top: 2vh;
  right: 2vh;
}
.sht1:hover{
    background-color: #B9B9B9;
}
.sht2{
  position: absolute;
  width: 32.7vh;
  height: 3.6vh;
  background-image: url('../img/sht2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 3.5vh;
  right: 3vw;
  z-index: 2;
  transition: all 1s ease;
}
.active{
  transform: rotate(-60deg);
  top: 17.5vh;
  right: -2vh;
}
/* ПОЛАРОИД ПОЛАРОИД ПОЛАРОИД ПОЛАРОИД ПОЛАРОИД ПОЛАРОИД */
.polaroidsection{
  display: none;
}
.polaroid{
  position: absolute;
  width: 55.6vh;
  height: 46.3vh;
  background-image: url('../img/polaroidcolor.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 1vh;
  right: 6vw;
  right: 10vh;
}
.polaroidtext{
  position: absolute;
  background-color: white;
  width: 47.5vh;
  height: 10vh;
  bottom: 5.6vh;
  left: 2vw;
}
.polaroidall{
  position: absolute;
  width: 75vh;
  height: 100vh;
  right: 0vh;
  top: 0vh;
}
.pcntrl{
  position: absolute;
  width: 54.2vh;
  height: 47vh;
  background-color: #3E3E3E;
  top: 14vh;
  left: 8vh;
}
.redb{
  position: absolute;
  width: 18vh;
  height: 18vh;
  background-color: #FF1515;
  border-radius: 19vh;
  bottom: 3vh;
  left: 2.5vh;
  cursor: pointer;
}
.redb:hover{
  background-color: #CF0D0D;
}
.polb1{
  position: absolute;
  width: 18vh;
  height: 18vh;
  background-image: url('../img/onoff.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 9.1vw;
  top: 3vh;
  right: 1.5vw;
  cursor: pointer;
}
.polb1:hover{
  background-image: url('../img/onoff2.svg');
}
.polb2{
  position: absolute;
  width: 16vh;
  height: 16vh;
  background-color: black;
  border-radius: 9.1vw;
  bottom: 3vh;
  right: 1.5vw;
}
.vspishka{
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-image: url('../img/vspishka.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4.4vw;
  top: 7vh;
  left: 19.5vh;
  cursor: pointer;
}
.vspishka2{
  background-image: url('../img/vspishka2.svg');
}
#countertext{
  position: absolute;
  color: #FFDA15;
  font-size: 10vh;
  line-height: 10vh;
  font-weight: 400;
  margin-left: 0vw;
  margin-top: 0vw;
  position: absolute;
  display: none;
  bottom: 6vh;
  right: 7.2vh;
}
.viewpicture{
  position: absolute;
  display: block;
  width: 75vh;
  height: 58vh;
  bottom: 0vh;
  right: 0vh;
  overflow: hidden;
}
.picture{
  position: absolute;
  display: block;
  width: 47vh;
  height: 56.2vh;
  top: -57vh;
  right: 14vh;
  background-color: white;
  border-radius: 0.46vh;
}
.insidepicture{
  position: absolute;
  display: block;
  width: 41.45vh;
  height: 36.2vh;
  top: 2.4vh;
  right: 2.4vh;
  background-image: url("../img/polaroid1.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.46vh;
}
.picture2{
  background-image: url("../img/polaroid2.png");
}
.picture3{
  background-image: url("../img/polaroid3.png");
}
.picture4{
  background-image: url("../img/polaroid4.png");
}
.picture5{
  background-image: url("../img/polaroid5.png");
}
.picture6{
  background-image: url("../img/polaroid6.png");
}
.picture7{
  background-image: url("../img/polaroid7.png");
}
.krestik{
  position: absolute;
  display: block;
  width: 4vh;
  height: 4vh;
  bottom: 2.5vh;
  right: 21.5vh;
  background-image: url("../img/krestik.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.realvspishka{
  position: absolute;
  display: none;
  width: 92vh;
  height: 92vh;
  top: -36vh;
  right: -32vh;
  background-image: url("../img/realvspishka.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .1s ease;
}
/* КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП */
.compsection{
  display: none;
}
.comp{
  position: absolute;
  width: 177.6vh;
  height: 120.3vh;
  background-image: url('../img/comp.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 0vh;
  right: -4vw;
}
.kek{
  background-color: black;
}
.icons{
  position: absolute;
  background-image: url("../img/folder.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.f1{
  width: 8vh;
  height: 8vh;
  top: 17vh;
  left: 79vh;
}
.f2{
  width: 8vh;
  height: 8vh;
  top: 29vh;
  left: 89vh;
}
.t1{
  background-image: url("../img/trash.png");
  width: 8vh;
  height: 8vh;
  top: 51vh;
  left: 138vh;
  cursor: auto;
}
.wptext{
  Position: absolute;
  font-size: 1.7vh;
  color: white;
  margin-left: 0vw;
  margin-top: 0vw;
  width: 20vh;
  height: 2vh;
}
.wpt1{
  top: 7vh;
  left: -3vh;
}
.wpt2{
  top: 7vh;
  left: -0.3vh;
}
.wpt3{
  top: 8vh;
  left: 0vh;
}
.okoshko{
  position: absolute;
  display: none;
  width: 65vh;
  height: 46vh;
  top: 15vh;
  right: 36vh;
  background-image: url("../img/okoshko.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.picture97{
  position: relative;
  display: inline-block;
  width: 6vh;
  height: 6vh;
  top: 6vh;
  right: -4vh;
  margin-left: 1vh;
  background-image: url("../img/picture97.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.krestik2{
  position: absolute;
  display: block;
  width: 3vh;
  height: 3vh;
  top: 0vh;
  right: 0vh;
  cursor: pointer;
}
.pic{
  position: absolute;
  display: none;
  width: 40vh;
  height: 49vh;
  top: 0vh;
  right: 18vh;
  margin-left: 1vh;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.pic1{
  background-image: url("../img/sochi1.jpg");
}
.pic2{
  background-image: url("../img/sochi2.jpg");
}
.pic3{
  background-image: url("../img/sochi3.jpg");
}
.pic4{
  background-image: url("../img/sochi4.jpg");
}
.pic5{
  background-image: url("../img/sochi5.jpg");
  width: 44vh;
  height: 36vh;
  top: 5vh;
  right: 18vh;
}
.pic6{
  background-image: url("../img/gelendzik1.jpg");
}
.pic7{
  background-image: url("../img/gelendzik2.jpg");
}
.pic8{
  background-image: url("../img/gelendzik3.jpg");
}
.pic9{
  background-image: url("../img/gelendzik4.jpg");
}
.header{
  position: absolute;
  top: -2vh;
  left: -3vw;
}
