@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
h1{
  font-family: 'Montserrat';
  font-size: 1.5vw;
  line-height: 1.35vw;
  font-weight: 700;
  margin-left: 0.9vw;
  margin-top: 0.9vw;
}
p{
  font-family: 'Montserrat';
  font-size: 2vh;
  line-height: 2.23vh;
  font-weight: 400;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #757685;
  position: relative;
}
section{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.brd1{
  border: solid 2px black;
  border-radius: 2px;
}
.sectionmain{
  display: block;
}
.topshelfall{
  position: relative;
  display: block;
  height: 50%;
  width: 100%;
}
.bottomshelfall{
  position: relative;
  display: block;
  height: 50%;
  width: 100%;
}
.shelf{
  display: block;
  position: relative;
  background-color: #E8E8E8;
  width: 100vw;
  height: 13.4vh;
}
.shelf1{
  display: block;
  position: relative;
  background-color: white;
  width: 100vw;
  height: 4.6vh;
  border-top: 0px;
}
.bigshelf1{
  display: block;
  position: relative;
  top: 23vh;
}
.bigshelf2{
  display: block;
  position: relative;
  top: 23vh;
}
.basenokia{
  position: absolute;
  width: 13vh;
  height: 25.4vh;
  transform: rotate(60deg);
  top: 12vh;
  left: 11vw;
  background-image: url('../img/bnokia.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basenokia:hover{
  background-image: url('../img/nokiacolor.png');
}
.basetv{
  position: absolute;
  width: 36.6vh;
  height: 36.6vh;
  top: 6vh;
  left: 36vw;
  background-image: url('../img/btv.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basetv:hover{
  background-image: url('../img/tvcolor.png');
}
.baseplayer{
  position: absolute;
  width: 36.3vh;
  height: 36.2vh;
  top: 5vh;
  left: 5vw;
  background-image: url('../img/bplayer.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.baseplayer:hover{
  background-image: url('../img/playercolor.png');
}
.basepolaroid{
  position: absolute;
  width: 22.6vh;
  height: 22.5vh;
  top: 16vh;
  left: 41vw;
  background-image: url('../img/bpolaroid.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basepolaroid:hover{
  background-image: url('../img/polaroidcolor.png');
}
.basepc{
  position: absolute;
  width: 54.8vh;
  height: 37.3vh;
  top: -2vh;
  right: 2vw;
  background-image: url('../img/bpc.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.basepc:hover{
  background-image: url('../img/pccolor.png');
}
.textmain{
  position: absolute;
  width: 13.6vw;
  height: 7.6vh;
  background-color: white;
  z-index: 2;
}
.mtext1{
  top: 0vh;
  left: 1vw;
}
.mtext2{
  top: 0vh;
  left: 16vw;
}
.logo{
  width: 14.8vh;
  margin-left: 0.5vw;
  margin-top: 0.9vh;
}
.mtext3{
  top: 36.6vh;
  left: 5.1vw;
}
.mtext4{
  top: 36.6vh;
  left: 41vw;
}
.mtext5{
  top: 36.6vh;
  left: 11vw;
}
.mtext6{
  top: 36.6vh;
  left: 41.25vw;
}
.mtext7{
  top: 36.6vh;
  right: 7vw;
}
.mtext8{
  position: absolute;
  width: 28.4vw;
  height: 16vh;
  background-color: white;
  z-index: 2;
  top: 18vh;
  left: 67vw;
}
.kk{
  margin-left: 0.9vw;
  margin-top: 1.2vh;
}
/*НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА НОКИА*/
.nokiasection{
  display: none;
}
.nokia{
  position: absolute;
  display: block;
  width: 93vh;
  height: 193vh;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(17deg);
  top: -22vh;
  left: 0vw;
}
.msg1{
  background-image: url('../img/nokiacolor.png');
}
.msg2{
  background-image: url('../img/nokia2.png');
}
.msg3{
  background-image: url('../img/nokia3.png');
}
.msg4{
  background-image: url('../img/nokia4.png');
}
.back{
  background-color: white;
  width: 15.3vh;
  height: 5.5vh;
  position: absolute;
  top: 5.6vh;
  left: 2vw;
  cursor: pointer;
  z-index: 2;
}
.back:hover{
  background-color: #FCDED7;
}
.backtxt{
  font-size: 2.96vh;
  margin-left: 2.5vw;
  margin-top: 1.5vh;
}
.arrow{
  position: absolute;
  background-image: url('../img/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.9vh;
  height: 1.4vh;
  top: 2.1vh;
  left: 1vh;
}
.nokiatext{
  position: absolute;
  border: solid 2px black;
  border-radius: 2px;
  background-color: white;
  width: 56.5vh;
  height: 15vh;
  top: 5.6vh;
  right: 2vw;
}
.text{
  font-size: 2.96vh;
  margin-left: 1vw;
  margin-top: 2vh;
  line-height: 3.1vh;
}
.ctrlnokia{
  position: absolute;
  background-color: #3E3E3E;
  width: 43vw;
  height: 45vh;
  bottom: 5.6vh;
  right: 2vw;
  border: solid 5px black;
  border-radius: 30px;
}
.b1{
  position: absolute;
  background-image: url('../img/b1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 38vh;
  height: 11vh;
  bottom: 24vh;
  right: 19vh;
}
.b2{
  position: absolute;
  background-image: url('../img/b2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20.4vh;
  height: 18.5vh;
  bottom: 11vh;
  right: 52vh;
}
.b3{
  position: absolute;
  background-image: url('../img/b3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30.2vh;
  height: 24.9vh;
  bottom: 4.2vh;
  right: 2.3vh;
}
.b4{
  position: absolute;
  background-image: url('../img/b4.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 9.3vh;
  height: 9.3vh;
  bottom: 14vh;
  right: 2.3vh;
  cursor: pointer;
}
.b5{
  position: absolute;
  background-image: url('../img/b5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 9.3vh;
  height: 9.3vh;
  bottom: 4vh;
  right: 19vh;
  cursor: pointer;
}
/* ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК ТЕЛЕК*/
.tvsection{
  display: none;
}
.tv{
  position: absolute;
  width: 93.6vh;
  height: 79.8vh;
  background-image: url('../img/tvcolor.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -1vh;
  left: 2vw;
}
.tvtext{
  position: absolute;
  border: solid 2px black;
  border-radius: 2px;
  background-color: white;
  width: 47.5vh;
  height: 11vh;
  top: 5.6vh;
  right: 2vw;
}
.tape{
  position: absolute;
  display: block;
  width: 21.2vw;
  height: 23.6vh;
  top: 30vh;
  right: 16vw;
  background-image: url('../img/tape.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
.tapeinall{
  position: absolute;
  background-image: url('../img/tapeinall.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 49.8vw;
  height: 15.2vh;
  bottom: 8vh;
  left: 3vw;
}
