/* @media only screen and (min-width: 1367px) and (max-width: 1440px){
  .basetv{
    position: absolute;
    width: 26.5vw;
    height: 36.4vh;
    top: 0vh;
    left: 36vw;
    background-image: url('../img/btv.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .shelf{
    display: block;
    position: relative;
    background-color: #E8E8E8;
    width: 100vw;
    height: 15vh;
    border: solid 2px black;
    border-radius: 2px;
  }
  .shelf1{
    display: block;
    position: relative;
    background-color: white;
    width: 100vw;
    height: 5vh;
    border: solid 2px black;
    border-radius: 2px;
    border-top: 0px;
  }
} */
